@model Ecommerce.Entities.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a @*href="/admin/home"*@ asp-controller="adminproducts" asp-area="admin" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh Sách Sản Phẩm</a>
            <a class="breadcrumb-item" href="#">Thông tin sản phẩm : @Model.ProductName</a>
        </nav>
    </div>
</div>
<div>
    <div class="card">
        <h4 class="card-title"> Thông tin sản phẩm : @Model.ProductName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.ProductID</td>
                    </tr>  
                    <tr>
                        <td>Tên Sản Phẩm :</td>
                        <td class="text-dark font-weight-semibold">@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Mô tả :</td>
                        <td class="text-dark font-weight-semibold">@Model.ShortDescription</td>
                    </tr> 
                    <tr>
                        <td>Giá Bán :</td>
                        <td class="text-dark font-weight-semibold">@Model.Price</td>
                    </tr>  
                    <tr>
                        <td>Discount :</td>
                        <td class="text-dark font-weight-semibold">@Model.Discount</td>
                    </tr>  
                    <tr>
                        <td>Active </td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2" />
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>                                        
                    </tr>  
                    <tr>
                        <td>BestSellers </td>
                        <td >
                            @if (Model.BestSellers)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2" />
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>
                    </tr> 
                    <tr>
                        <td>HomeFlag </td>
                        <td>

                            @if (Model.HomeFlag)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="" />
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2" />
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>
                    </tr>    
                    <tr>
                        <td>Danh Mục :</td>
                        <td class="text-dark font-weight-semibold">@Model.Category.CateName</td>
                    </tr>
                    <tr>
                        <td>Ngày Tạo :</td>
                        <td class="text-dark font-weight-semibold">@Model.DateCreated</td>
                    </tr>  
                    <tr>
                        <td>Ngày Tạo :</td>
                        <td class="text-dark font-weight-semibold">@Model.DateModified</td>
                    </tr>   
                    <tr>
                        <td>tiêu Đề :</td>
                        <td class="text-dark font-weight-semibold">@Model.DateModified</td>
                    </tr> 
                    <tr>
                        <td>MetaDesc :</td>
                        <td class="text-dark font-weight-semibold">@Model.MetaDesc</td>
                    </tr> 
                    <tr>
                        <td>MetaKey :</td>
                        <td class="text-dark font-weight-semibold">@Model.MetaKey</td>
                    </tr>  
                    <tr>
                        <td>Ảnh Đại Diện :</td>
                        <td> <img width="200" height="200" src="~/images/products/@Model.Thumb" alt="@Model.Title" /></td>
                    </tr>  
                    <tr>
                        <td>Mô tả sản phẩm :</td>
                        <td class="text-dark font-weight-semibold">@Model.Description</td>
                    </tr>  
                 

                </tbody>
            </table>
        </div>
    </div>
</div>
 